@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/scripts/scripts.js"></script>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <title>Pinch of Yum</title>
  </head>
  <body>
    <header>
      <div class="logo">pinch of yum</div>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/all-recipes">Recipes</a></li>
        </ul>
      </nav>
    </header>



    <main>
      @if( @Model.Value("bannerTitle")!= null){
        <section class="banner">
          <div class="pageMargins">
            <h1>@Model.Value("bannerTitle")</h1>
            @{
              if(@Model.Value("bannerText") != null){
                <p>@Model.Value("bannerText")</p>
              }
            }
          </div>
        </section>
      }

      @RenderBody()
    </main>

    <footer>
      <div class="columns">
        <ul>
          <b>pinch of yum</b>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Recipes</a></li>
        </ul>

        <ul>
          <b>socials</b>
          <li>
            <a href="#"><i class="lab la-instagram"></i></a>
            <a href="#"><i class="lab la-pinterest"></i></a>
            <a href="#"><i class="lab la-facebook"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
