@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script type="module" src="/scripts/scripts.js"></script>
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <title>Pinch of Yum</title>
  </head>
  <body>
    <header>
      <div class="logo"><a href="/">pinch of yum</a></div>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/all-recipes">Recipes</a></li>
        </ul>
      </nav>
    </header>



    <main>
      @if( @Model.Value("bannerTitle")!= null){
        <section class="banner">
          <div class="pageMargins">
            <h1>@Model.Value("bannerTitle")</h1>
            @{
              if(@Model.Value("bannerText") != null){
                <p>@Model.Value("bannerText")</p>
              }
            }
          </div>
        </section>
      }

      @RenderBody()
    </main>

    <footer>
      <div class="footer-top">
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/all-recipes">Recipes</a></li>
          </ul>
        </nav>
      </div>

      <hr />

      <div class="footer-top">
        <p>© 2024 Pinch of Yum</p>
      @{
        var socialLinks = new Dictionary<string, string>
            {
              {"instagramLink", "la-instagram"},
              {"facebookLink", "la-facebook"},
              {"pinterestLink", "la-pinterest"},
            };
        }

        <ul class="socials">
          @foreach(var link in socialLinks){

            var socialUrl = Model.Value(link.Key)?.ToString();

            if(!string.IsNullOrEmpty(socialUrl)){
              <li>
                <a href="@socialUrl"><i class="lab @link.Value"></i></a>
              </li>
            }
          }

        </ul>
      </div>
    </footer>
  </body>
</html>
